{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block section1 %}
	<body>
		<section id="services">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="display-4 border-bottom mx-5">Nos services</h2>
				</div>
			</div>
			<br>
			<br>

			{# Controle technique #}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="./img/Controle.jpg" alt="Image 1" class="img-section1 img-fluid">
					</div>
					<div class="col-md-4 mx-5 zoom zoom-animate">
						<div class="d-flex flex-column justify-content-center align-items-start h-100">
							<h2>Faire votre contrôle technique ?</h2>
							<br>
							{% for service in service %}
                            	{% if service.type == 'Controle' %}
                            		<ul>
                            			<li>{{ service.service }}</li>
                            		</ul>
                            	{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				{# Reparation #}
                <div class="row">
                	<div class="col-md-6">
                		<img src="./img/Reparation.jpg" alt="Image 1" class="img-section1 img-fluid">
                	</div>
                	<div class="col-md-4 mx-5 zoom zoom-animate">
                		<div class="d-flex flex-column justify-content-center align-items-start h-100">
                			<h2>Faire réparer votre véhicule?</h2>
                			<br>
                			{% for service in service %}
                				{% if service.type == 'Réparation' %}
                					<ul>
                						<li>{{ service.service }}</li>
                					</ul>
                				{% endif %}
                			{% endfor %}
                		</div>
                	</div>
                </div>

				<br>

				{# Nettoyage #}
				<div class="row">
					<div class="col-md-6">
						<img src="./img/Nettoyage.jpg" alt="Image 1" class="img-section1 img-fluid">
					</div>
					<div class="col-md-4 mx-5 zoom zoom-animate">
						<div class="d-flex flex-column justify-content-center align-items-start h-100">
							<h2>Faire nettoyager votre véhicule ?</h2>
							<br>
							{% for service in service %}
                            	{% if service.type == 'Nettoyage' %}
                            		<ul>
                            			<li>{{ service.service }}</li>
                            		</ul>
                            	{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<br>
{% endblock %}

{% block section2 %}
<br>
<section id="temoignages">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="display-4 border-bottom mx-5">Nos témoignages</h2>
    </div>
  </div>
  <br>
  <br>
  <div class="container-fluid">
    <div class="testimonial-carousel">
      <div class="row justify-content-center align-items-center">
        {% for temoignage in temoignage %}
          {% if temoignage.status|slice(0,6) == '1' %}
            <div class="col-md-4 text-center zoom zoom-animate">
              <img src="{{ temoignage.image }}" alt="Photo de profil" class="img-tem img-fluid rounded-circle">
              <h3 class="mb-3">{{ temoignage.name }}</h3>
              <p class="text-center px-3">{{ temoignage.temoignage }}</p>
		
			  <br>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-center mb-4">Vous souhaitais nous laisser un avis ?</h3>
        {{ form(formTemoignage) }}
      </div>
    </div>
   </div>
  
  <br>
  <br>
</section>


  <br>
  <br>
  <br>
  <br>



{% endblock %}

{% block section3 %}
<br>
<br>
<br>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="display-4">Nous contacter</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                        {{ form(formContact) }}
                </div>
            </div>
        </div>
		<div class="row">
			<div class="">
		      <a href="#" id="back-to-top" class="display-4 border" title="Back to Top">&uarr;</a>
			</div>
		</div>
		  

    </div>
</section>
</body>


{% endblock %}

{% block footer %}


{% endblock %}